<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images,multiple: true %>
  </div>

  <div class="field">
    <%= form.label :"シェアハウスは募集中か" %>
    <%= form.select :status, House.status.options %>
  </div>

  <!-- シェアハウスの詳細における入力欄 -->
  <div class="field">
    <%= form.label :"シェアハウスの人数" %>
    <%= form.select :member,[["2人",2],["3人",3],["4人",4],["5人",5],["6人",6],["7人",7],["8人",8],["9人",9],["10人以上",10]] %>
  </div>

  <div class="field">
    <%= form.label :station_id %><br />
    <%= form.collection_select :station_id, Station.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :"住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :"1ヶ月あたりの家賃" %>
    <%= form.select :price,[["1万以下",10000],["2万円代",20000],["3万円代",30000],["4万円代",40000],["5万円代",50000],["6万円代",60000],["7万円代",70000],["8万円代",80000],["9万円代",90000],["10万円以上",100000]] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
