<p id="notice"><%= notice %></p>

<h1>募集中のシェアハウス一覧</h1>

<% @stations.each do |station| %>
  <li>
    <%= link_to station.name, { :controller => "houses", :action => "index", station:station.id } %>
  </li>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Status</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.with_status(:empty).each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= house.content %></td>
        <td><%= house.station_id %></td>
        <td><%= house.status %></td>
        <td>
          <% if house.images.attached? %>
            <% house.images.each_with_index do |i,obj|  %>
              <% if obj == 0 %>
                <%= image_tag i.variant(resize: "200x400") %> <br>
              <% end %>
            <% end %>
          <% end %>
        </td>

        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
