<p id="notice"><%= notice %></p>

<p>
  <strong>Thumb:</strong>
  <% if @house.images.attached? %>
    <% @house.images.each do |image| %>
      <%= image_tag image.variant(resize: "200x400") %> <br>
    <% end %>
  <% end %>
</p>


<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @house.content %>
</p>


<p>
  <strong>シェアハウスの状況:</strong>
  <%= @house.status %>
</p>

<p>
  <strong>家賃:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>シェアハウスの人数:</strong>
  <%= @house.member %>
</p>

<p>
  <strong>住所:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @house.user.username,user_path(@house.user.id) %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
